<nav class="navbar navbar-inverse navbar-fixed-top">
  <div class="container">
  <div class="navbar-header">
    <a class="navbar-brand" href="#">jobs.stpete.io</a>
  </div>
  <div id="navbar" class="navbar-collapse collapse">
    <form class="navbar-form navbar-right">
    <button type="submit" class="btn btn-success">Post a Job</button>
  </div>
</nav>
<!-- Main jumbotron for a primary marketing message or call to action -->
<div class="jumbotron">
  <div class="container">
    <h1>
    background image of st. pete</p>
    <div class="col-lg-8">
      <div class="input-group">
        <input type="text" class="form-control" placeholder="Search for...">
        <span class="input-group-btn">
        <button class="btn btn-default" type="button">Go!</button>
        </span>
      </div>
      <!-- /input-group -->
    </div>
  </div>
</div>
<div class="container">
<!-- Example row of columns -->
<div class="row">
<div class="col-md-8">
  <h2>Jobs</h2>
  <p>Description: Donec id elit non mi porta gravida at eget metus.</p>
</div>
<vr>
<div class="col-md-4">
  <h2>Sidebar</h2>
  <p>Some ish.</p>
</div>
