<div class="container content">
  <div class="row">
    <div class="col-md-10 col-md-offset-1">
      <h1>Register Your Company</h1>
      <%= render 'form' %>
      <br>
      <%= link_to 'Go Home', root_path %>
    </div>
  </div>
</div>
