<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 3.2//EN">
<html>
<head>
<meta content='text/html; charset=utf-8' http-equiv='Content-Type'>
<title></title>
</head>
<body>
<p>You have a new applicantion to your job posting to review.</p>
<br>
<p>Click placholder to view and save.</p>
<br>
<p>We'd also like to take this time in thanking you for using our free service. Please help spread the word about SPJB by liking our Facebook Page and following us on Twitter.</p>
</body>
</html>
