<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Welcome to jobs.stpete.io, <%= @company.name %></h1>
    <p>
      You have successfully signed up to jobs.stpete.io with the following email: <%= @company.email %>.<br>
    </p>
    <p>
      To login to the site, just follow this link: <%= @url %>.
    </p>
    <p>Start posting jobs today!</p>
  </body>
</html>
